@model Charcillaries.Web.Pages.Passenger.Flights.UpcomingFlightsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<span id="flight-number-validation" hx-swap-oob="true" asp-validation-for="FlightNumber" class="text-danger"></span>

<span id="flight-id-validation" hx-swap-oob="true" class="text-danger"></span>
<span id="departure-date-validation" hx-swap-oob="true" class="text-danger"></span>